html,body
{
  margin:0;
  padding:0;    
  height:100%;  
  min-width:1110px;
  
}

#main
{
  width:100%;
  position:absolute;
  height:auto !important;
  min-height:100%;
  height:100%;
  padding-bottom:40px;
  min-width:1110px;
}

a
{
  text-decoration:none;
}

#login
{
  
  background-color:#eee;
  text-align:right;
  border-bottom:1px solid #aaa;   
  background-color: #edf3ff, #c8d4ff;
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(top,  #edf3ff, #c8d4ff);
  padding:4px;
  
  
}
#caption
{
  background-color:#ddf;
  text-align:center;
}
h1
{
  margin:0;
}


#image
{  
  text-align:center; 
}

#rating
{  
  /*clear:both;   */
  text-align:center;
  color:#000;  
  background-color:#f7f7f7; 
  padding:5px;
  background: -webkit-linear-gradient(top,  #f7f7f7, #f3f3f3);
  border-bottom:1px solid #ddd;
  border-top:1px solid #ddd;
}

#nav_out
{
  background-color:#f7f7f7; 
  padding:5px;
  background: -webkit-linear-gradient(top,  #f7f7f7, #f3f3f3);
  border-bottom:1px solid #ddd;
}

#nav
{
  width:800px;
  margin:0 auto;
  color:blue;
  height:20px;  
}
#nav_left
{
  display:inline;
  float:left;
}
#nav_right
{
  display:inline;
  float:right;
}
a.nav
{
  color:black;
}
a.nav:hover
{
  color:blue;
}

.box_item
{
  float:left;
  margin:5px;
  padding:10px;
  border-width:0px;
  border-style:solid;
  border-color:#888;  
}

.box_caption
{
  border-width:0px;
  /*border-bottom-width:1px;*/
  border-style:solid;
  border-color:#888;
  /*background-color:#c8d4ff;*/
  text-align:center;
  margin-bottom:3px;
  font-weight:bold;
  color:black;
  height:22px;
  vertical-align:middle;
  text-decoration:none;  
}

.box_image
{
  height:160px;
}

.box_image>img
{
  padding:5px;
  border-width:1px;
  border-style:solid;
  border-color:#888;
  box-shadow:2px 2px 5px #888;
  -webkit-box-shadow:2px 2px 5px #888;
  -moz-box-shadow:2px 2px 5px #888;
}

#banner
{
  text-align:center;
  background-image:url('../images/lblue142.gif');
  border-bottom:1px solid #aaa;   
}

.center
{
  text-align:center;
}

#captionbar
{  
  border-bottom:1px solid #aaa;   
  background-color: #eee;
  background: -webkit-linear-gradient(top,  #eee, #ddd);
}

#footer
{
  padding:10px 0;
  text-align:center;
  border-top:1px solid #aaa;   
  background-color:#dde;
  height:20px;
  width:100%;
  position:absolute;
  bottom:0;
}
td,th
{
  padding:5px;
  border-bottom:1px solid #ccf;  
  background-color:#ececff;
}
th
{
  padding:5px;
  border-right:1px solid #ccf;
  text-align:left;
}
td.last
{
  border-bottom:0px;
}
#settings
{
  margin:20px auto;
  border:1px solid #88f;  
  width:500px;
}
.editbox
{  
  border:1px solid #88f;
  width:100%
}
.message, .error
{
  margin:10px auto;
  border: 1px solid;
  border-radius: 5px;  
  width:400px;
  text-align:center;
  font-weight:bold;
}
.message
{
  border-color: #cc0;  
  background-color:#ff7;  
}
.error
{
  border-color: #c00;  
  background-color:#f77;  
}
.comment
{
  border: 1px solid #bbf;
  padding: 3px;
  margin:3px;
  background-color:#efecff;  
}
#comments
{  
 /*display:none;*/
 border-left:1px solid #ddd;
 border-bottom:1px solid #ddd;
}
#comment_text
{
  width:300px;
  height:50px;  
}
#content
{  
  background-color:white;    
  border:none;
}
td.detail
{
  margin:0;
  padding:0;
  vertical-align:top;
  background-color:white;  
  border:none;
}
#tabs
{
  font-size:0.75em;  
  width:700px;
  margin:5PX auto;
}

fieldset
{
  border:1px solid #888;
  border-radius:3px;
}

fieldset > label
{
  display:inline-block;
  width:70px;
}

fieldset > input[type='text'], select
{  
  border:1px solid #888;  
  padding:2px;
  width:500px;
  border-radius:3px;
  background-color: #fcfcfc;
}