body
{
  background-color: whiteSmoke;
}

#image
{  
  text-align:center; 
  margin-right:236px;
}

#comment_title
{
  border-bottom:1px solid #ddd;  
  padding:2px;
  height:20px;  
}

#nav_left, #nav_right
{
  display:inline;  
  position:relative;
  top:26px;
  width:48px;
}

#nav_left > *, #nav_right > *
{
  opacity:0.7;
}

#nav_left > *:hover, #nav_right > *:hover
{
  opacity:1;
}

#nav_left
{  
  float:left;
  margin-left:2px;  
}

#nav_right
{ 
  float:right;
  margin-right:2px;  
}

a.nav
{
  color:white;
}

a.nav:hover
{
  color:#aaf;
}


#banner
{
  text-align:left;
  background-image:url('../images/lblue142.gif');
  border-bottom:1px solid #aaa;   
}

.center
{
  text-align:center;
}

.comment
{  
  margin:3px;     
  padding:5px;
  border-bottom:1px dashed #ddd;    
  overflow:auto;
}

#comments
{  
 position:fixed;
 border-left:1px solid #ddd;
 border-bottom:1px solid #ddd;
 width:236px;
 overflow-y:scroll;
 right:0;
 top:0;
 height:100%; 
}

#comment_text
{
  width:200px;  
  height:50px;    
}


td.detail
{
  margin:0;
  padding:0;
  vertical-align:top;
  background-color:white;  
  border:none;
}

#admin_back_to_page
{
  float:right;
  margin:6px;
}

#hide_comments
{
  position:absolute;
  top:0;
  right:236px;
}
#detail_close
{  
  position:absolute;
  right:0;
  margin-right:262px;
}

#rating
{  
  float:right;
  text-align:right;  
}

#photo_count
{  
  float:left;
  text-align:left;  
}

#photo_caption_bar
{
  width:800px;
  text-align:center;
  margin:0 auto;  
}

#image_frame, img
{
  margin:0;
  padding:0;
  border:0;  
}

/*new*/

.cleaner
{
  clear:both;
  display:block;
}

.hidden
{
  display:none;
}

.content
{
  padding: 1em;
  background-color: white;    
}

#album_plane
{
  clear:both;
}

#album_title
{
  float:left;
}

#toolbar, #userbar
{
  float:right;   
}

#toolbar:empty
{
  display:none;
}

#toggle_user
{
  /*padding:8px 4px;*/
}

a.toolbutton
{
  opacity:0.7;
}

a.toolbutton:hover
{
  opacity:1;
}

#username
{
  text-align:right;
  margin-left: 1em;
}

#footer
{
  padding:10px 0;
  width:100%;
  text-align:center;
  color:#555;
  font-size:0.9em;
}

.box_item
{
  float:left;
  margin:5px;
  padding:10px;
  border-width:0px;
  border-style:solid;
  border-color:#888;
}

.box_tools
{  
  position:relative;
  color:white;
  border-width:0px;
  background-color:rgba(0,0,0,0.7);
  border-style:solid;
  border-color:#888;
  text-align:center;
  top:6px;
  margin:0px 6px -22px 6px;
  font-weight:bold;
  height:22px;  
  text-decoration:none;  
}


.box_caption
{
  position:relative;
  color:white;
  border-width:0px;
  background-color:rgba(0,0,0,0.7);
  border-style:solid;
  border-color:#888;
  text-align:center;  
  margin:-28px 6px 0px 6px;
  font-weight:bold;  
  height:22px;  
  text-decoration:none;
}

.box_image
{
  height:160px;
}

.box_image > img
{
  padding:5px;
  border-width:1px;
  border-style:solid;
  border-color:#888;
  box-shadow:2px 2px 5px #888;
  -webkit-box-shadow:2px 2px 5px #888;
  -moz-box-shadow:2px 2px 5px #888;
}

#parentDir
{
  margin-right: 1em
}

/* UI */
.ui-dialog label, .ui-dialog input, .ui-dialog select
{
  display:block;  
}

.ui-dialog input[type='text'], .ui-dialog select/*, .ui-dialog input[type='file']*/
{
  margin-bottom:12px;
  width:95%;
  padding: .4em;  
}
 
.ui-dialog fieldset
{
  padding:0;
  border:0;
  margin-top:25px;  
}

.ui-dialog .ui-state-error {
  padding: .3em;  
}

.fileinput-button {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.fileinput-button input {  
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}


/* Fix for IE 6: */
*html .fileinput-button {
  line-height: 22px;
  margin: 1px -3px 0 0;
}

/* Fix for IE 7: */
*+html .fileinput-button {
  margin: 1px 0 0 0;
}
