#apaloosa_gallery_view_wrapper
{
    overflow: hidden;
}

#shadow
{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  opacity:0.9;
  background-color:black; 
  z-index:100;
}

#photo_view
{  
  color:whiteSmoke;
  background-color:black;    
  border:solid 1px whiteSmoke;
  overflow:auto;    
  display: block;
  position:absolute;
  border-radius: 5px;
  z-index:200;
  margin: 2em;
  padding: 1em;
  overflow: hidden;
}


#comments
{
  color:black;
  background-color:white;    
  border:solid 1px #999;
  overflow:auto;
  display: block;
  position:absolute;
  border-radius: 5px;
  z-index:200;
  margin: 2em 2em 2em 0;
  padding: 1em;
  overflow: hidden;
  width: 14%;
  min-width: 160px;
}

.button
{
    border: 1px solid white;
    border-radius: 3px;
    color:white;
    text-align: center;
    padding-top: 2px;
    background-color: black;
    width: 22px;
    height: 20px;
    position: absolute;
    z-index: 210;
}

.hidden
{
    display:none;
}

hr.divider
{
    margin: 0.6em 0;    
}

#photo_title
{
    height:40px;
    padding: 10px;    
    background-color: rgba(0,0,0,0.65);    
    text-align: center;
    font-size: 1.2em;
    width:90%;
    border-radius: 5px;
    margin: -80px auto 0;
    position: relative;    
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.65);
    z-index: 210;
    color: white;
}

.photo_title
{
    font-weight: bold;
}

.photo_subtitle
{
    font-size: 0.8em;
    font-style: italic;
    color: whiteSmoke;
}

