#shadow
{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  opacity:0.9;
  background-color:black; 
  z-index:100;
}

#photo_view
{  
  color:white;
  background-color:black;    
  border:solid 1px;
  overflow:auto;    
  display: block;
  position:absolute;
  border-radius: 5px;
  z-index:200;
  margin: 2em;
  padding: 1em;
  overflow: hidden;
}

#photo_view_close_button
{
    background-image: url("../images/close.png");
    background-color: black;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 210;
}
