{% extends 'layout/gallery.htm' %}
{% block g_body %}

<form action='' method='post'>
<h2>Nastavenia:</h2>
<label for='user_edit_name'>Meno:</label>
<input type='text' name='user_edit_name' id='user_edit_name'/><br/>
<label for='user_edit_surname'>Priezvisko:</label>
<input type='text' name='user_edit_surname' id='user_edit_surname'/><br/>
<label for='user_edit_nick'>Prezývka:</label>
<input type='text' name='user_edit_nick' id='user_edit_nick'/><br/>
<label for='user_edit_mail'>Email:</label>
<input type='text' name='user_edit_mail' id='user_edit_mail'/><br/>
<button type='submit' name='editUser'>Pridaj</button>
</form>

{% endblock %}