{%- extends 'layout/gallery.htm' %}
{% block g_body %}
  <div id='captionbar' class='center'>
  <h1> {{gallery.getCurrentPhoto.getCaption}} </h1>
  </div>  
 
  <table id='content' width='100%' cellspacing='0' cellpadding='0'>    
    <tr><td id='image' width='*' class='detail'>
      <div id='nav_out'>
      <div id='nav'>
      <div id='nav_left'>
        {%- if gallery.getPreviousPhoto  -%}
          <a href="?detail={{gallery.getPreviousPhoto.getPath}}" class="nav" id="previous_photo"> Predošlá</a>
        {%- endif %}

        {% for i in gallery.getPhotos -%}
          {% if loop.index > gallery.getCurrentPhotoIndex-5 and loop.index < gallery.getCurrentPhotoIndex+5 %}
            {% if i.getId == gallery.getCurrentPhoto.getId %}
              {{ loop.index }}
            {% else %}
              <a href="?detail={{i.getPath}}" class="nav">{{loop.index}}</a>
            {%- endif -%}
          {%- endif -%}
        {%- endfor %}

        {% if gallery.getNextPhoto -%}
          <a href = "?detail={{gallery.getNextPhoto.getPath}}" class="nav" id="next_photo">Nasledujúca</a>
        {%- endif %}  
      </div>
      <div id='nav_right'>
        {% if gallery.getCurrentPhoto.parent -%}
          <a href = "?album={{gallery.getCurrentPhoto.getParent.getPath}}" class="nav">Späť na album</a>
        {%- endif -%}
      </div>
      </div>
      </div>
      <div>
      <img src="getimage.php?w=800&amp;h=600&amp;image={{gallery.CurrentPhoto.Path}}"/>
      </div>
      <div id='rating'>
      Hodnotenie: 
      {%if login -%}
      <script type='text/javascript' src='js/rating.js'></script>  
      {% for i in 1..5 -%}
        <a href="?detail={{gallery.getCurrentPhoto.getPath}}&amp;rate={{i}}"><img src="images/star_white.png" alt="{{i}}" class="rating" onMouseOver="ratingOver(this,true)" onMouseOut="ratingOver(this,false)"/></a>
      {%- endfor %}
      {%- endif %}
      <span class='rating'>{{gallery.getCurrentPhoto.getRating }}</span>
    </div>  
    </td>
    <td id='comments' width='300px' class='detail'>
      {% include 'parts/comments.htm' %}
    </td></tr>   
  </table>

  <script type="text/javascript" >
    key_capture_enabled = true;
    $('body').keyup(function(event) {
      if(key_capture_enabled)
      {
        /*39 - right
        37 - left*/
        if(event.keyCode==37)
        {        
          location.href = ($('#previous_photo').attr("href"));
        }
        if(event.keyCode==39)
        {
          location.href = ($('#next_photo').attr("href"));
        }
      }
    }); 
    $('textarea').focus(function() {
      if(key_capture_enabled)
      {
        key_capture_enabled = false;
      }
    });

    $('textarea').blur(function() {
      if(!key_capture_enabled)
      {
        key_capture_enabled = true;
      }
    });
  </script>
 
{% endblock -%}