{% extends 'layout/gallery.htm' %}
{% block g_body %}
<h1>{{gallery.getAlbum.caption}} :</h1>
{% if gallery.getAlbum.parent %}
<a href = "?album={{gallery.getAlbum.getParent.getPath}}"> UP </a>
{% endif %}
<ul>
{% for item in gallery.getItems %}      
  <li>
    {% if item.getClass == 'Album' %}
    <a href = "?album={{item.getPath}}"> {{item.getCaption}} </a>
    {% else %}
    <a href = "?detail={{item.getPath}}">{{item.getCaption}}</a>({{item.getRating}})
    {% endif %}
  </li>
{% endfor %}
</ul>
{% endblock %}