{% extends 'layout/gallery.htm' %}
{% block g_body %}

<form action='' method='post'>
<div id='albumCaption'>
<h1>Nastavenia:</h1>
</div>
{% if login %}
{% for e in errors -%}
  <div class='error'>
    {{ e }}
  </div>  
{%- endfor %}
{% for m in messages -%}
  <div class='message'>
    {{ m }}
  </div>  
{%- endfor %}
<table cellspacing="0" celpadding="0" id='settings'>
<tr>
<th><label for='user_edit_name'>Meno:</label></td>
<td><input type='text' name='user_edit_name' id='user_edit_name' class='editbox' value='{{user.getFirstName}}'/></th>
</tr>
<tr>
<th><label for='user_edit_surname'>Priezvisko:</label></th>
<td>
<input type='text' name='user_edit_surname' id='user_edit_surname' class='editbox' value='{{user.getLastName}}'/></td>
<tr>
<th><label for='user_edit_nick'>Prezývka:</label></th>
<td>
<input type='text' name='user_edit_nick' id='user_edit_nick' class='editbox' value='{{user.getFriendlyName}}'/></td>
<tr>
<th><label for='user_edit_mail'>Email:</label></th>
<td>
<input type='text' name='user_edit_mail' id='user_edit_mail' class='editbox' value='{{user.getEmail}}'/></td>
</tr>
<tr>
<td colspan='2' class='last'><button type='submit' name='editUser'>Uprav</button></td>
</tr>
</table>
</form>
{% else %}
Na zmenu nastavení sa musíte prihlásiť.
{% endif %}

{% endblock %}