{% macro prava(name,class) %}
<label for='{{name}}'>Permissions:</label>
<select name='{{name}}' id='{{name}}' class="{{class}}">
<option value="0"> Public </option>
<option value="1"> Logged in only </option>
<option value="2"> Private </option>
</select><br/>
{% endmacro %}


{% macro newAlbumDialog(hidden) %}

<div id="album_dialog" title="New album" {% if hidden %} style="display:none;" {%endif%}>
<form action='' method='post'>
    <fieldset>    
    <label for='album_caption'>Caption:</label>
    <input type='text' name='album_caption' id='album_caption'  class="ui-widget-content ui-corner-all"/>
    <label for='album_name'>Foldername:</label>
    <input type='text' name='album_name' id='album_name' class="ui-widget-content ui-corner-all"/>
    {{_self.prava('album_perm', 'ui-widget-content ui-corner-all') }}
    </fieldset>
    </form>

</div>

{%endmacro%}

{% macro addPhotosDialog_old(hidden) %}

<div id="photos_dialog" title="Add photos" {% if hidden %} style="display:none;" {%endif%}>
<form action='' method='post'>    
    <form action='' method='post' enctype="multipart/form-data">
    <fieldset>
    <input type="hidden" name="MAX_FILE_SIZE" value="5000000" />{# 5MB #}
    <label for='photo_caption'>Caption:</label>
    <input type='text' name='photo_caption' id='photo_caption' class='ui-widget-content ui-corner-all'/><br/>
    <label for='photo_file'>Filename:</label>
    <input type="file" name="photo_file" id="photo_file" class="ui-widget-content ui-corner-all"/><br/>
    {{_self.prava('photo_perm') }}    
    </fieldset>
    </form>

</div>

{%endmacro%}

{% macro addPhotosDialog(hidden) %}

{#todo: podpora bezjavascriptoveho uploadu#}
<div id="photos_dialog" title="Add photos" {% if hidden %} style="display:none;" {%endif%}>
<input id="fileupload" type="file" name="files[]" multiple>
<script src="js/vendor/jquery.ui.widget.js"></script>
<script src="js/jquery.iframe-transport.js"></script>
<script src="js/jquery.fileupload.js"></script>
<script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
<script src="http://blueimp.github.com/JavaScript-Canvas-to-Blob/canvas-to-blob.min.js"></script>
<script src="js/jquery.fileupload-ip.js"></script>
<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        url: 'server/php/',
        done: function (e, data) {
            $.each(data.result, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });
        }

    });
});
</script>
</div>

{%endmacro%}