<!DOCTYPE html>
<html lang="sk">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Michal Hozza, Mio, software, webdesign, fotky, osobna stranka" />
        <meta name="description" content="WEB Gallery" />
        <meta name="author" content="Michal Hozza"/>
        <meta name="robots" content="index, follow" />
        <meta name="revisit-after" content="1 days" />
        <meta http-equiv="content-language" content="sk"/>

        <title>Gallery</title>

        <!-- Bootstrap -->    
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/jasny-bootstrap-responsive.min.css" rel="stylesheet" media="screen">


        {#<link type="text/css" href="css/smoothness/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />#}
        <link href="css/jq_bootstrap/jquery-ui.css" rel="stylesheet" />    

        <link href="css/gallery.css" rel="stylesheet" type="text/css" />

        {#<script src="http://code.jquery.com/jquery-latest.js"></script>#}
        <script src="js/jquery.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        {#
        <script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
        <script src="http://blueimp.github.com/JavaScript-Canvas-to-Blob/canvas-to-blob.min.js"></script>
        <script src="js/jquery.fileupload-ip.js"></script>
        #}

        {% block g_head %}{% endblock %}

    </head>
    <body> 
        {#<div id="banner"><a href='index.php'><img src="images/apaloosaLogo.png" alt="Apaloosa webGallery"/></a></div>#}
        {% block navigation %}{% endblock %}
        <div class="container-fluid" id="__content_container__">
            {% block g_body %}{% endblock %}         
        </div>        
        <div id="footer">
            Apaloosa webGallery, <strong>&copy; Michal Hozza 2011</strong>, developed for <a href="http://mio.hozza.eu">mio.hozza.eu</a><br/>
            Git: <a href="https://github.com/mhozza/Apaloosa">https://github.com/mhozza/Apaloosa</a>
        </div>

        <script src="js/bootstrap.min.js"></script>    
        <script src="js/jasny-bootstrap.min.js"></script>    

        <script src="js/jquery-ui-timepicker-addon.js"></script>
        <script type="text/javascript" src="js/jquery.history.js"></script>
             
        <script src="js/vendor/jquery.ui.widget.js"></script>
        <script src="js/jquery.iframe-transport.js"></script>
        <script src="js/jquery.fileupload.js"></script>
        {%block scripts%} {%endblock%}
    </body>
</html>