<div id="login">
{%- if login -%}
{{user.getDisplayName}} {% if linkbar %}{{linkbar}}{% endif %} | {% if user.isAdmin %} <a href="admin.php">Admin panel</a> | <a href="index.php?settings">Nastavenia</a> | {%endif %} <a href="logout.php">logout</a>
{% else %}
<form action="" method="post"> 
  <input type="text" name="openid_identifier" id="openid_identifier"/>  
  <script id="__openidselector" src="https://www.idselector.com/widget/button/1"></script>  
  <input type="submit" value="Sign in" style="vertical-align:middle;"/>   
</form>
{% endif %}
</div>