<div id="login">
{%- if login -%}
<div class="loginbutton">{{user.getDisplayName}}</div> {% if linkbar %}{{linkbar}}{% endif %} {% if user.isAdmin %} <div class="loginbutton"><a href="admin.php">Admin panel</a></div> {%endif %} <div class="loginbutton"><a href="index.php?settings">Nastavenia</a> </div> <div class="loginbutton"><a href="logout.php">logout</a></div>
{% else %}
<form action="" method="post"> 
  <input type="text" name="openid_identifier" id="openid_identifier"/>  
  <script id="__openidselector" src="https://www.idselector.com/widget/button/1"></script>  
  <input type="submit" value="Sign in" style="vertical-align:middle;"/>   
</form>
{% endif %}
</div>